@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
	font-family: "Lora", serif;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ecf4fb;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header-logo {
	margin-left: 3rem;
	padding: 1%;
}
.header-logo img {
	height: 63px;
	color: white;
}
nav {
	margin-right: 3rem;
}

.side-nav ul {
	position: fixed;
	background: #ecf4fb;
	right: 0px;
	width: 27%;
	height: 100vh;
	top: 5.8rem;
	transform: translateX(500px);
	transition: 0.5s all;
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 36px 15px;
}
.side-nav ul li {
	list-style: none;
	padding: 10px 10px;
	transition: 0.3s all;
}
.side-nav ul li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.3s all;
}
.side-nav ul li:hover {
	background: #fffdfd;
}
.side-nav ul li:hover a {
	color: #9e9090;
}
.side-nav ul li a.active {
	color: #9e9090;
}
.menu {
	background: #406973;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3%;
	cursor: pointer;
	padding: 10px;
	transition: 0.3s all;
}
.menu img {
	height: 30px;
	width: 30px;
}

/* section start */
section {
	width: 100%;
	margin: auto;
	position: relative;
	padding-top: 3rem;
	top: 6rem;
}
.heading-1 {
	text-align: center;
	padding-bottom: 4rem;
	font-size: 2rem;
	color: #406973;
}

.grid {
	display: grid;
	width: 90%;
	margin: 0px auto 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
}
.grid img {
	width: 100%;
	height: 40vh;
	cursor: pointer;
	transition: 0.4s all;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list {
	overflow: hidden;
	position: relative;
}
.grid img:hover {
	transform: scale(1.2);
	box-shadow: 0 32px rbga(68, 77, 136, 0.2);
}

.design-nav {
	padding-bottom: 2rem;
	width: 90%;
	text-align: end;
}
.design-nav .btn {
	background: transparent;
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid rgb(213 201 201);
	color: #7d8388;
	font-weight: 600;
	padding: 10px 20px;
	font-size: 0.8rem;
	cursor: pointer;
	margin: auto;
	position: relative;
	top: 1px;
	transition: 0.3s;
}
.design-nav .btn.active {
	background: transparent;
	border-color: transparent;
	border-bottom-color: #38b083;
	color: #000000;
}
#Greek-design,
#Arabic-design,
#Indic-design {
	display: none;
}
/*section end */

/* footer section start */
footer {
	position: relative;
	top: 6rem;
	margin: auto;
	padding-top: 6rem;
	background: #e7eded;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 8rem;
	padding-right: 8rem;
}

.footer-section {
	width: 33%;
	margin-bottom: 20px;
}

.footer-section h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.Center {
	text-align: center;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer ul li {
	margin-bottom: 5px;
}

footer ul li a {
	text-decoration: none;
	color: #333;
}

footer ul li a:hover {
	color: #777;
}

.social-media {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.social-media li {
	margin-right: 10px;
}
.social-media li i {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-media li a {
	color: #333;
	font-size: 20px;
}
.la {
	color: #999;
	border-radius: 100px;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}
.la:hover {
	color: #f5f5f5;
	background: #46b5d1;
}

.social-media li a:hover {
	color: #777;
}

.footer-bottom {
	margin-top: 20px;
	text-align: center;
	color: #777;
	font-size: 14px;
}

/* media */
@media (max-width: 1024px) {
	html {
		font-size: 80%;
	}
}
@media (max-width: 846px) {
	.header-logo img {
		height: 70px;
	}
	.menu {
		height: 30px;
		width: 30px;
	}
	.menu img {
		height: 25px;
		width: 25px;
	}
	nav ul {
		width: 33%;
	}
	.footer-section {
		width: 50%;
	}
	.Center {
		text-align: start;
	}
	.social-media {
		justify-content: flex-start;
	}
}
@media (max-width: 576px) {
	html {
		font-size: 70%;
	}
	.side-nav ul {
		width: 36%;
		top: 7rem;
	}

	.footer-section {
		width: 100%;
	}
	.padding {
		display: flex;
		flex-wrap: wrap;
	}
	.padding li {
		padding: 2px 5px;
	}
	.footer-container {
		padding-left: 4rem;
	}
}
@media (max-width: 500px) {
	.all {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.side-nav ul {
		width: 59%;
	}
}
