@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
	font-family: "Lora", serif;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
.banner {
	background: linear-gradient(
			rgba(125, 132, 132, 0.61),
			rgba(236, 239, 239, 0.46)
		),
		url(/images/banner-2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 65vh;
	position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ecf4fb;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header-logo {
	margin-left: 3rem;
	padding: 1%;
}
.header-logo img {
	height: 63px;
	color: white;
}
nav {
	margin-right: 3rem;
}

.side-nav ul {
	position: fixed;
	background: #ecf4fb;
	right: 0px;
	width: 27%;
	height: 100vh;
	top: 5.8rem;
	transform: translateX(500px);
	transition: 0.5s all;
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 36px 15px;
}
.side-nav ul li {
	list-style: none;
	padding: 10px 10px;
	transition: 0.3s all;
}
.side-nav ul li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.3s all;
}
.side-nav ul li:hover {
	background: #fffdfd;
}
.side-nav ul li:hover a {
	color: #9e9090;
}
.side-nav ul li a.active {
	color: #9e9090;
}
.menu {
	background: #406973;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3%;
	cursor: pointer;
	padding: 10px;
	transition: 0.3s all;
}
.menu img {
	height: 30px;
	width: 30px;
}
.title {
	text-align: center;
	width: 50%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	top: 15rem;
}
.title h1 {
	padding-bottom: 1rem;
	font-size: 3rem;
	color: #406973;
	letter-spacing: 0.2px;
}

/* section start */
section {
	width: 80%;
	margin: auto;
	position: relative;
	padding-top: 3rem;
}
.contianer {
	padding: 2rem;
	border: 1px solid #8b949d;
	margin-bottom: 1rem;
}
.contianer h3 {
	font-weight: 300;
	padding-bottom: 11px;
	font-size: 27px;
}
.contianer p {
	letter-spacing: 0.2px;
	font-size: 19px;
	color: #494645;
}
/* footer section start */

footer {
	position: relative;
	top: 6rem;
	margin: auto;
	padding-top: 6rem;
	background: #e7eded;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 8rem;
	padding-right: 8rem;
}

.footer-section {
	width: 33%;
	margin-bottom: 20px;
}

.footer-section h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.Center {
	text-align: center;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer ul li {
	margin-bottom: 5px;
}

footer ul li a {
	text-decoration: none;
	color: #333;
}

footer ul li a:hover {
	color: #777;
}

.social-media {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.social-media li {
	margin-right: 10px;
}
.social-media li i {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-media li a {
	color: #333;
	font-size: 20px;
}
.la {
	color: #999;
	border-radius: 100px;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}
.la:hover {
	color: #f5f5f5;
	background: #46b5d1;
}

.social-media li a:hover {
	color: #777;
}

.footer-bottom {
	margin-top: 20px;
	text-align: center;
	color: #777;
	font-size: 14px;
}
@media (max-width: 1024px) {
	html {
		font-size: 80%;
	}
}
@media (max-width: 846px) {
	.header-logo img {
		height: 70px;
	}
	.menu {
		height: 30px;
		width: 30px;
	}
	.menu img {
		height: 25px;
		width: 25px;
	}
	nav ul {
		width: 33%;
	}
	.title {
		width: 75%;
	}
	.footer-section {
		width: 50%;
	}
	.Center {
		text-align: start;
	}
	.social-media {
		justify-content: flex-start;
	}
}
@media (max-width: 576px) {
	html {
		font-size: 70%;
	}
	.side-nav ul {
		width: 36%;
		top: 7rem;
	}
	.title {
		width: 87%;
	}
	.title h1 {
		font-size: 3rem;
	}
	.title p {
		font-size: 17px;
	}
	section {
		width: 90%;
	}
	.footer-section {
		width: 100%;
	}
	.padding {
		display: flex;
		flex-wrap: wrap;
	}
	.padding li {
		padding: 2px 5px;
	}
	.footer-container {
		padding-left: 4rem;
	}
}
@media (max-width: 500px) {
	.side-nav ul {
		width: 59%;
	}
}
